<!DOCTYPE html>
<html id="" lang="en" dir="ltr" data-pnotify-firstpos1="0">
<head>
    <meta charset="utf-8">
    <title itemprop="name">Smartstore </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="generator" content="Smartstore 4.2.0.0" />
    <meta name="robots" content="noindex" />
    <meta name="accept-language" content="en-US" />
    <link as="font" crossorigin="" href="~/Content/fontastic/fonts/fontastic.woff" rel="preload" />
    <link as="font" crossorigin="" href="~/Content/vendors/fa5/webfonts/fa-solid-900.woff2" rel="preload" />
    <link as="font" crossorigin="" href="~/Content/vendors/fa5/webfonts/fa-regular-400.woff2" rel="preload" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/pnotify")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/shop")
</head>
<body class="lyt-cols-1 home">
    <div id="page">

        <div class="page-main canvas-slidable">
            <header id="header">
                <div class="menubar-section d-none d-lg-block menubar-light">
                    <div class="container menubar-container">





                        <nav class="menubar navbar navbar-slide">


                            <nav class="menubar-group ml-auto">



                                <a class="menubar-link" href="/frontend/en/contactus">Contact us</a>




                                <div class="cms-menu cms-menu-dropdown" data-menu-name="helpandservice">
                                    <div class="dropdown">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" rel="nofollow" class="menubar-link">
                                            <span>Hire &amp; Service</span>
                                            <i class="fa fa-angle-down menubar-caret"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-left">
                                            <a href="/frontend/en/newproducts" class="dropdown-item menu-link">
                                                <span>New arrivals</span>
                                            </a>
                                            <a href="/frontend/en/manufacturer/all" class="dropdown-item menu-link">
                                                <span>All brands</span>
                                            </a>
                                            <a href="/frontend/en/recentlyviewedproducts" class="dropdown-item menu-link">
                                                <span>Last viewed</span>
                                            </a>
                                            <a href="/frontend/en/compareproducts" class="dropdown-item menu-link">
                                                <span>Compare product list</span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="/frontend/en/aboutus" class="dropdown-item menu-link">
                                                <span>About us</span>
                                            </a>
                                            <a href="/frontend/en/disclaimer" class="dropdown-item menu-link">
                                                <span>Right of withdrawal</span>
                                            </a>
                                            <a href="/frontend/en/shippinginfo" class="dropdown-item menu-link">
                                                <span>Shipping and Returns</span>
                                            </a>
                                            <a href="/frontend/en/conditionsofuse" class="dropdown-item menu-link">
                                                <span>General Terms and Conditions</span>
                                            </a>
                                        </div>

                                    </div>
                                </div>



                            </nav>

                            <nav class="menubar-group menubar-group--special">
                                <a class="menubar-link" href="/frontend/en/news">
                                    News
                                </a>
                                <a class="menubar-link" href="/frontend/en/blog">
                                    Blog
                                </a>

                            </nav>

                            <nav id="menubar-my-account" class="menubar-group">
                                <div class="dropdown">
                                    <a class="menubar-link" aria-haspopup="true" aria-expanded="false" href="/frontend/en/login?returnUrl=%2Ffrontend%2Fen" rel="nofollow">
                                        <i class="icm icm-user"></i>

                                        <span>Log in</span>
                                    </a>

                                </div>



                            </nav>

                        </nav>




                    </div>
                </div>
                <div class="shopbar-section shopbar-light">
                    <div class="container shopbar-container">

                        <div class="shopbar">
                            <div class="shopbar-col-group shopbar-col-group-brand">
                                <!-- LOGO -->
                                <div class="shopbar-col shop-logo">

                                    <a href="/frontend/en" class="brand">
                                        <img src='~/Content/Samples/company-logo.png'
                                             alt="Smartstore"
                                             title="Smartstore"
                                             class="img-fluid"
                                             width="560"
                                             height="100" />
                                    </a>

                                </div>

                                <!-- SEARCH -->
                                <div class="shopbar-col shopbar-search">

                                    <form action="/frontend/en/search" class="instasearch-form" method="get">
                                        <input type="text"
                                               class="instasearch-term form-control"
                                               name="q"
                                               placeholder="What are you looking for?"
                                               data-instasearch="true"
                                               data-minlength="2"
                                               data-showthumbs="true"
                                               data-url="/frontend/en/instantsearch"
                                               data-origin="Search/Search"
                                               autocomplete="off" />

                                        <button type="submit" class="btn btn-primary btn-icon instasearch-button" title="Search">
                                            <i class="icm icm-magnifier instasearch-icon"></i>
                                        </button>

                                        <div class="instasearch-drop">
                                            <div class="instasearch-drop-body clearfix"></div>
                                        </div>


                                    </form>
                                </div>
                            </div>

                            <div class="shopbar-col-group shopbar-col-group-tools">
                                <!-- TOOLS -->


                                <div class="shopbar-col shopbar-tools" data-summary-href="/frontend/en/shoppingcart/cartsummary?cart=True&amp;wishlist=True&amp;compare=True">

                                    <!-- Hamburger Menu -->
                                    <div class="shopbar-tool d-lg-none" id="shopbar-menu">
                                        <a class="shopbar-button" href="#" data-toggle="offcanvas" data-autohide="true" data-placement="left" data-fullscreen="false" data-disablescrolling="true" data-target="#offcanvas-menu">
                                            <span class="shopbar-button-icon">
                                                <i class="icm icm-menu"></i>
                                            </span>
                                            <span class="shopbar-button-label-sm">
                                                Menu
                                            </span>
                                        </a>
                                    </div>



                                    <!-- User -->
                                    <div class="shopbar-tool d-lg-none" id="shopbar-user">
                                        <a class="shopbar-button" href="/frontend/en/login?returnUrl=%2Ffrontend%2Fen">
                                            <span class="shopbar-button-icon">
                                                <i class="icm icm-user"></i>
                                            </span>
                                            <span class="shopbar-button-label-sm">
                                                Log in
                                            </span>
                                        </a>
                                    </div>

                                    <div class="shopbar-tool" id="shopbar-compare" data-target="#compare-tab">
                                        <a href="/frontend/en/compareproducts" class="shopbar-button navbar-toggler" data-toggle="offcanvas" data-summary-href="/frontend/en/shoppingcart/cartsummary?compare=True"
                                           data-autohide="true" data-placement="right" data-fullscreen="false" data-disablescrolling="true" data-target="#offcanvas-cart">
                                            <span class="shopbar-button-icon">
                                                <i class="icm icm-repeat"></i>
                                                <span class='badge badge-pill label-cart-amount badge-warning' style="display:none" data-bind-to="CompareItemsCount">0</span>
                                            </span>
                                            <span class="shopbar-button-label">
                                                <span>Compare</span><br />
                                                <strong>Products</strong>
                                            </span>
                                            <span class="shopbar-button-label-sm">
                                                Compare
                                            </span>
                                        </a>
                                    </div>

                                    <div class="shopbar-tool" id="shopbar-wishlist" data-target="#wishlist-tab">
                                        <a href="/frontend/en/wishlist" class="shopbar-button navbar-toggler" data-toggle="offcanvas" data-summary-href="/frontend/en/shoppingcart/cartsummary?wishlist=True"
                                           data-autohide="true" data-placement="right" data-fullscreen="false" data-disablescrolling="true" data-target="#offcanvas-cart">
                                            <span class="shopbar-button-icon">
                                                <i class="icm icm-heart"></i>
                                                <span class='badge badge-pill label-cart-amount badge-warning' style="display:none" data-bind-to="WishlistItemsCount">0</span>
                                            </span>
                                            <span class="shopbar-button-label">
                                                <span>Wish</span><br />
                                                <strong>List</strong>
                                            </span>
                                            <span class="shopbar-button-label-sm">
                                                Wishlist
                                            </span>
                                        </a>
                                    </div>

                                    <div class="shopbar-tool" id="shopbar-cart" data-target="#cart-tab">
                                        <a href="/frontend/en/cart" class="shopbar-button navbar-toggler" data-toggle="offcanvas" data-summary-href="/frontend/en/shoppingcart/cartsummary?cart=True"
                                           data-autohide="true" data-placement="right" data-fullscreen="false" data-disablescrolling="true" data-target="#offcanvas-cart">
                                            <span class="shopbar-button-icon">
                                                <i class="icm icm-bag"></i>
                                                <span class='badge badge-pill label-cart-amount badge-warning' style="display:none" data-bind-to="CartItemsCount">
                                                    0
                                                </span>
                                            </span>
                                            <span class="shopbar-button-label">
                                                <span>Shopping</span><br />
                                                <strong>Basket</strong>
                                            </span>
                                            <span class="shopbar-button-label-sm">
                                                Basket
                                            </span>
                                        </a>
                                    </div>



                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="megamenu-section d-none d-lg-block">
                    <nav class='navbar navbar-light'>
                        <div class="container megamenu-container">




                            <style type="text/css">
                                .mega-menu-dropdown {
                                    min-height: 250px;
                                }
                            </style>

                            <div class="mainmenu megamenu megamenu-blend--next">



                                <div class="cms-menu cms-menu-navbar" data-menu-name="main">
                                    <div class="megamenu-nav megamenu-nav--prev alpha">
                                        <a href="#" class="megamenu-nav-btn btn btn-icon"><i class="far fa-chevron-left"></i></a>
                                    </div>

                                    <ul class="navbar-nav flex-row flex-nowrap" id="menu-main">

                                        <li id="main-nav-item-552932" data-id="552932" class="nav-item">
                                            <a href="/frontend/en/apple-2" class="nav-link menu-link">
                                                <span>Apple</span>
                                            </a>
                                            <label class="badge badge-danger">New</label>
                                        </li>
                                        <li id="main-nav-item-552933" data-id="552933" class="nav-item dropdown-submenu">
                                            <a href="/frontend/en/sports" class="nav-link menu-link dropdown-toggle" aria-expanded="false" data-target="#dropdown-menu-552933">
                                                <span>Sports</span>
                                            </a>
                                        </li>
                                        <li id="main-nav-item-552940" data-id="552940" class="nav-item">
                                            <a href="/frontend/en/digital-products" class="nav-link menu-link">
                                                <span>Digital Products</span>
                                            </a>
                                        </li>
                                        <li id="main-nav-item-552941" data-id="552941" class="nav-item dropdown-submenu">
                                            <a href="/frontend/en/computers-office" class="nav-link menu-link dropdown-toggle" aria-expanded="false" data-target="#dropdown-menu-552941">
                                                <span>Computer</span>
                                            </a>
                                        </li>
                                        <li id="main-nav-item-552951" data-id="552951" class="nav-item dropdown-submenu">
                                            <a href="/frontend/en/bauhaus-furniture" class="nav-link menu-link dropdown-toggle" aria-expanded="false" data-target="#dropdown-menu-552951">
                                                <span>Bauhaus Furniture</span>
                                            </a>
                                            <label class="badge badge-info">Classic!</label>
                                        </li>
                                        <li id="main-nav-item-552962" data-id="552962" class="nav-item dropdown-submenu">
                                            <a href="/frontend/en/fashion" class="nav-link menu-link dropdown-toggle" aria-expanded="false" data-target="#dropdown-menu-552962">
                                                <span>Fashion</span>
                                            </a>
                                        </li>
                                        <li id="main-nav-item-552967" data-id="552967" class="nav-item">
                                            <a href="/frontend/en/watches" class="nav-link menu-link">
                                                <span>Watches</span>
                                            </a>
                                        </li>
                                        <li id="main-nav-item-552968" data-id="552968" class="nav-item dropdown-submenu">
                                            <a href="/frontend/en/gaming-stm" class="nav-link menu-link dropdown-toggle" aria-expanded="false" data-target="#dropdown-menu-552968">
                                                <span>Gaming</span>
                                            </a>
                                        </li>
                                        <li id="main-nav-item-552971" data-id="552971" class="nav-item dropdown-submenu">
                                            <a href="/frontend/en/lamps-2" class="nav-link menu-link dropdown-toggle" aria-expanded="false" data-target="#dropdown-menu-552971">
                                                <span>Lamps</span>
                                            </a>
                                            <label class="badge badge-primary">Aktion!</label>
                                        </li>
                                        <li id="main-nav-item-552975" data-id="552975" class="nav-item">
                                            <a href="/frontend/en/gift-cards" class="nav-link menu-link">
                                                <span>Gift Cards</span>
                                            </a>
                                            <label class="badge badge-warning">NEU!</label>
                                        </li>

                                    </ul>

                                    <div class="megamenu-nav megamenu-nav--next omega">
                                        <a href="#" class="megamenu-nav-btn btn btn-icon"><i class="far fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="megamenu-dropdown-container container" style="--y: 16px">
                                <div id="dropdown-menu-552932" data-id="552932"
                                     data-entity-id="183"
                                     data-entity-name="Category"
                                     data-display-rotator="false">
                                    <div class="dropdown-menu mega-menu-dropdown">


                                        <div class="row mega-menu-dropdown-row">
                                            <div class="col-md-3 col-sm-6 text-md-center megamenu-cat-img">
                                                <img src="~/Content/Samples/brand/apple.png" alt="Apple" loading="lazy" />
                                                <div class="below-preview-pic-text text-left">

                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6">
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div id="dropdown-menu-552933" data-id="552933"
                                     data-entity-id="128"
                                     data-entity-name="Category"
                                     data-display-rotator="false">
                                    <div class="dropdown-menu mega-menu-dropdown">


                                        <div class="row mega-menu-dropdown-row">
                                            <div class="col-md-3 col-sm-6 text-md-center megamenu-cat-img">
                                                <img src="~/Content/Samples/category/sports.jpg" alt="Sports" loading="lazy" />
                                                <div class="below-preview-pic-text text-left">

                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6">
                                                <a href="/frontend/en/sunglasses" id="dropdown-heading-552934" data-id="552934" class="mega-menu-dropdown-heading">
                                                    <span>Sunglasses</span>

                                                </a>
                                                <a href="/frontend/en/handball-2" id="dropdown-heading-552935" data-id="552935" class="mega-menu-dropdown-heading">
                                                    <span>Handball</span>

                                                </a>
                                                <a href="/frontend/en/soccer" id="dropdown-heading-552936" data-id="552936" class="mega-menu-dropdown-heading">
                                                    <span>Soccer</span>

                                                </a>
                                                <a href="/frontend/en/basketball-2" id="dropdown-heading-552937" data-id="552937" class="mega-menu-dropdown-heading">
                                                    <span>Basketball</span>

                                                </a>
                                                <a href="/frontend/en/american-football-3" id="dropdown-heading-552938" data-id="552938" class="mega-menu-dropdown-heading">
                                                    <span>American Football</span>

                                                </a>
                                                <a href="/frontend/en/golf-stm" id="dropdown-heading-552939" data-id="552939" class="mega-menu-dropdown-heading">
                                                    <span>Golf</span>

                                                </a>
                                            </div>

                                            <div class="col-md-6 col-sm-12 megamenu-html-text">
                                                <div class="row">
                                                    <div class="col-md-4 ">
                                                        <a href="http://demo.smartstore.com/frontend/fussball-stm">

                                                        <img alt="" class="img-fluid" src="~/Content/Samples/blog/football.jpg" />
                                                            </a>
                                                    </div>


                                                    <div class="col-md-4 ">
                                                        <a href="http://demo.smartstore.com/frontend/brillen">
                                                            <img alt="" class="img-fluid" src="~/Content/Samples/category/basketball.png" />
                                                                </a>

                                                    </div>


                                                    <div class="col-md-4 ">
                                                    <a href="http://demo.smartstore.com/frontend/baelle">
                                                        <img alt="" class="img-fluid" src="~/Content/Samples/category/book.jpeg" />
                                                        </a></div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div id="dropdown-menu-552940" data-id="552940"
                                     data-entity-id="184"
                                     data-entity-name="Category"
                                     data-display-rotator="false">
                                    <div class="dropdown-menu mega-menu-dropdown">


                                        <div class="row mega-menu-dropdown-row">
                                            <div class="col-md-3 col-sm-6 text-md-center megamenu-cat-img">
                                                <img src="~/Content/Samples/category/digitalproducts.jpg" alt="Digital Products" width="512" loading="lazy" />
                                                <div class="below-preview-pic-text text-left">

                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6">
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div id="dropdown-menu-552941" data-id="552941"
                                     data-entity-id="161"
                                     data-entity-name="Category"
                                     data-display-rotator="false">
                                    <div class="dropdown-menu mega-menu-dropdown">


                                        <div class="row mega-menu-dropdown-row">
                                            <div class="col-md-3 col-sm-6 text-md-center megamenu-cat-img">
                                                <img src="~/Content/Samples/category/computers.png"width='512' alt="Computer" loading="lazy" />

                                                <div class="below-preview-pic-text text-left">

                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6">
                                                <a href="/frontend/en/hardware" id="dropdown-heading-552942" data-id="552942" class="mega-menu-dropdown-heading">
                                                    <span>Hardware</span>

                                                </a>
                                                <span class="mega-menu-subitem-wrap">
                                                    <a href="/frontend/en/memory/ram" id="megamenu-subitem-552943" data-id="552943" class="mega-menu-subitem">
                                                        <span>Memory/RAM</span>
                                                    </a>



                                                </span>
                                                <span class="mega-menu-subitem-wrap">
                                                    <a href="/frontend/en/cpu-3" id="megamenu-subitem-552944" data-id="552944" class="mega-menu-subitem">
                                                        <span>CPU</span>
                                                    </a>



                                                </span>
                                                <span class="mega-menu-subitem-wrap">
                                                    <a href="/frontend/en/harddisk-/-ssd" id="megamenu-subitem-552945" data-id="552945" class="mega-menu-subitem">
                                                        <span>Harddisk / SSD</span>
                                                    </a>



                                                </span>
                                                <span class="mega-menu-subitem-wrap">
                                                    <a href="/frontend/en/computer-cases" id="megamenu-subitem-552946" data-id="552946" class="mega-menu-subitem">
                                                        <span>Computer cases</span>
                                                    </a>



                                                </span>
                                                <span class="mega-menu-subitem-wrap">
                                                    <a href="/frontend/en/graphics-card" id="megamenu-subitem-552947" data-id="552947" class="mega-menu-subitem">
                                                        <span>Graphics Card</span>
                                                    </a>



                                                </span>
                                                <span class="mega-menu-subitem-wrap">
                                                    <a href="/frontend/en/mainboards" id="megamenu-subitem-552948" data-id="552948" class="mega-menu-subitem">
                                                        <span>Mainboards</span>
                                                    </a>



                                                </span>
                                                <a href="/frontend/en/desktop-computer-2" id="dropdown-heading-552949" data-id="552949" class="mega-menu-dropdown-heading">
                                                    <span>Desktop Computer</span>

                                                </a>
                                                <a href="/frontend/en/notebook-2" id="dropdown-heading-552950" data-id="552950" class="mega-menu-dropdown-heading">
                                                    <span>Notebook</span>

                                                </a>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div id="dropdown-menu-552951" data-id="552951"
                                     data-entity-id="107"
                                     data-entity-name="Category"
                                     data-display-rotator="false">
                                    <div class="dropdown-menu mega-menu-dropdown comma-separated">

                                        <div class="picture-container" style="bottom:0;right:0;transform: translate(0px, 0px);">
                                            <a href="http://demo.smartstore.com/frontend/charles-eames-lounge-chair-1956"></a>
                                            <img src="/Content/Samples/category/apple.png" border="0" alt="Bauhaus Furniture" />
                                        </div>

                                        <div class="row mega-menu-dropdown-row">
                                            <div class="col-md-3 col-sm-6 text-md-center megamenu-cat-img">
                                                <img src="~/Content/Samples/category/furniture.jpg" width="512" alt="Bauhaus Furniture" loading="lazy"/>
                                                <div class="below-preview-pic-text text-left">
                                                    <b>Bauhaus-Möbel</b> sind so etwas wie ein kleinster gemeinsamer Nenner für Freunde gehobenen Designs: Jeder findet sie geschmackvoll, das Attribut <b>zeitlos</b> ist unumstritten. Wer sich einen Breuer-Sessel oder eine Corbusier-Liege hinstellt, gilt ganz sicher als <b>Ästhet</b>.
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6">
                                                <a href="/frontend/en/lamps" id="dropdown-heading-552952" data-id="552952" class="mega-menu-dropdown-heading">
                                                    <span>Lamps</span>

                                                    <label class="badge badge-success">Einzelst&#252;cke!</label>
                                                </a>
                                                <div class="inline-container">
                                                </div>
                                                <a href="/frontend/en/lounger" id="dropdown-heading-552953" data-id="552953" class="mega-menu-dropdown-heading">
                                                    <span>Lounger</span>

                                                </a>
                                                <div class="inline-container">
                                                </div>
                                                <a href="/frontend/en/sessel-5" id="dropdown-heading-552954" data-id="552954" class="mega-menu-dropdown-heading">
                                                    <span>Sessel</span>

                                                    <label class="badge badge-warning">Jetzt bestellen!</label>
                                                </a>
                                                <div class="inline-container">
                                                </div>
                                                <a href="/frontend/en/sofas-4" id="dropdown-heading-552955" data-id="552955" class="mega-menu-dropdown-heading">
                                                    <span>Sofas</span>

                                                    <label class="badge badge-danger">Fast ausverkauft!</label>
                                                </a>
                                                <div class="inline-container">
                                                </div>
                                                <a href="/frontend/en/chairs" id="dropdown-heading-552956" data-id="552956" class="mega-menu-dropdown-heading">
                                                    <span>Chairs</span>

                                                </a>
                                                <div class="inline-container">
                                                </div>
                                                <a href="/frontend/en/tables" id="dropdown-heading-552957" data-id="552957" class="mega-menu-dropdown-heading">
                                                    <span>Tables</span>

                                                </a>
                                                <div class="inline-container">
                                                </div>
                                                <a href="/frontend/en/arne-jacobsen-6" id="dropdown-heading-552958" data-id="552958" class="mega-menu-dropdown-heading">
                                                    <span>Arne Jacobsen</span>

                                                </a>
                                                <div class="inline-container">
                                                </div>
                                                <a href="/frontend/en/charles-ray-eames-6" id="dropdown-heading-552959" data-id="552959" class="mega-menu-dropdown-heading">
                                                    <span>CHARLES &amp; RAY EAMES</span>

                                                </a>
                                                <div class="inline-container">
                                                </div>
                                                <a href="/frontend/en/josef-hoffmann-5" id="dropdown-heading-552960" data-id="552960" class="mega-menu-dropdown-heading">
                                                    <span>JOSEF HOFFMANN</span>

                                                </a>
                                                <div class="inline-container">
                                                </div>
                                                <a href="/frontend/en/le-corbusier-8" id="dropdown-heading-552961" data-id="552961" class="mega-menu-dropdown-heading">
                                                    <span>Le Corbusier</span>

                                                </a>
                                                <div class="inline-container">
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6 megamenu-html-text">
                                                <p><span id="senior">In ihrer schlichten, einfachen Form sind die Produkte des Bauhauses eine gestalterische Revolution. Die Form ordnet sich komplett der Funktionalität unter oder anders: "</span><span lang="en" style="margin: 0px; padding: 0px; border: 0px; font-family: Thesis, arial, roboto, helvetica, sans-serif; font-size: 16px; vertical-align: baseline; outline: 0px; color: rgb(0, 0, 0); background-color: rgba(255, 255, 255, 0.901961);">form follows function</span><span style="color: rgb(0, 0, 0); font-family: Thesis, arial, roboto, helvetica, sans-serif; font-size: 16px; background-color: rgba(255, 255, 255, 0.901961);">". Viele der vom Bauhaus entwickelten Produkte sind sowohl in ihrer ursprünglichen Form als auch in ihrer Weiterentwicklung bis heute aus vielen Haushalten nicht mehr wegzudenken, wie zum Beispiel der Freischwinger-Stuhl, die Wagenfeld-Lampe oder die Bauhaustapete.</span></p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div id="dropdown-menu-552962" data-id="552962"
                                     data-entity-id="122"
                                     data-entity-name="Category"
                                     data-display-rotator="false">
                                    <div class="dropdown-menu mega-menu-dropdown">


                                        <div class="row mega-menu-dropdown-row">
                                            <div class="col-md-3 col-sm-6 text-md-center megamenu-cat-img">
                                                <img src="~/Content/Samples/category/fashion.jpg" width="512" alt="Fashion" loading="lazy"/>
                                                <div class="below-preview-pic-text text-left">

                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6">
                                                <a href="/frontend/en/shirts-stm" id="dropdown-heading-552963" data-id="552963" class="mega-menu-dropdown-heading">
                                                    <span>Shirts</span>

                                                </a>
                                                <a href="/frontend/en/jacken-stm" id="dropdown-heading-552964" data-id="552964" class="mega-menu-dropdown-heading">
                                                    <span>Jacken</span>

                                                </a>
                                                <a href="/frontend/en/hosen-stm" id="dropdown-heading-552965" data-id="552965" class="mega-menu-dropdown-heading">
                                                    <span>Hosen</span>

                                                </a>
                                                <a href="/frontend/en/schuhe-stm" id="dropdown-heading-552966" data-id="552966" class="mega-menu-dropdown-heading">
                                                    <span>Schuhe</span>

                                                </a>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div id="dropdown-menu-552967" data-id="552967"
                                     data-entity-id="7"
                                     data-entity-name="Category"
                                     data-display-rotator="false">
                                    <div class="dropdown-menu mega-menu-dropdown">


                                        <div class="row mega-menu-dropdown-row">
                                            <div class="col-md-3 col-sm-6 text-md-center megamenu-cat-img">
                                                <img src="~/Content/Samples/category/watches.png" width="512" alt="Watches" loading="lazy"/>
                                                <div class="below-preview-pic-text text-left">

                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6">
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div id="dropdown-menu-552968" data-id="552968"
                                     data-entity-id="5"
                                     data-entity-name="Category"
                                     data-display-rotator="false">
                                    <div class="dropdown-menu mega-menu-dropdown">


                                        <div class="row mega-menu-dropdown-row">
                                            <div class="col-md-3 col-sm-6 text-md-center megamenu-cat-img">
                                                <img src="~/Content/Samples/category/gaming.png" width="512" alt="Gaming" loading="lazy"/>
                                                <div class="below-preview-pic-text text-left">

                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6">
                                                <a href="/frontend/en/zubehoer" id="dropdown-heading-552969" data-id="552969" class="mega-menu-dropdown-heading">
                                                    <span>Zubeh&#246;r</span>

                                                </a>
                                                <a href="/frontend/en/spiele" id="dropdown-heading-552970" data-id="552970" class="mega-menu-dropdown-heading">
                                                    <span>Spiele</span>

                                                </a>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div id="dropdown-menu-552971" data-id="552971"
                                     data-entity-id="45"
                                     data-entity-name="Category"
                                     data-display-rotator="false">
                                    <div class="dropdown-menu mega-menu-dropdown">

                                        <div class="picture-container" style="bottom:0;right:0;transform: translate(60px, 0px);">
                                            <img src="/Content/Samples/category/apple.png" border="0" alt="Lamps" loading="lazy" />
                                        </div>

                                        <div class="row mega-menu-dropdown-row">
                                            <div class="col-md-3 col-sm-6 text-md-center megamenu-cat-img">
                                                <img src="/Content/Samples/category/apple.png" width="512" alt="Lamps" loading="lazy" />

                                                <div class="below-preview-pic-text text-left">
                                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6">
                                                <a href="/frontend/en/anonimo-2" id="dropdown-heading-552972" data-id="552972" class="mega-menu-dropdown-heading">
                                                    <span>ANONIMO</span>

                                                    <label class="badge badge-primary">Aktion!</label>
                                                </a>
                                                <a href="/frontend/en/eileen-gray-5" id="dropdown-heading-552973" data-id="552973" class="mega-menu-dropdown-heading">
                                                    <span>EILEEN GRAY</span>

                                                </a>
                                                <a href="/frontend/en/wilhelm-wagenfeld-3" id="dropdown-heading-552974" data-id="552974" class="mega-menu-dropdown-heading">
                                                    <span>WILHELM WAGENFELD</span>

                                                </a>
                                            </div>

                                            <div class="col-md-3 col-sm-6 megamenu-html-text">
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div id="dropdown-menu-552975" data-id="552975"
                                     data-entity-id="185"
                                     data-entity-name="Category"
                                     data-display-rotator="false">
                                    <div class="dropdown-menu mega-menu-dropdown">


                                        <div class="row mega-menu-dropdown-row">
                                            <div class="col-md-3 col-sm-6 text-md-center megamenu-cat-img">
                                                <img src="/Content/Samples/category/apple.png" width="512" alt="Gift Cards" loading="lazy" />

                                                <div class="below-preview-pic-text text-left">

                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-6">
                                            </div>

                                        </div>


                                    </div>
                                </div>

                            </div>



                            <script>
                                $(function () {
                                    var megamenuContainer = $(".megamenu-container").megaMenu({
                                        productRotatorAjaxUrl: "/frontend/plugins/megamenu/rotatorproducts",
                                        productRotatorInterval: 4000,
                                        productRotatorDuration: 800,
                                        productRotatorCycle: true,
                                    });
                                });
                            </script>
                        </div>
                    </nav>
                </div>
            </header>
            <!-- TODO: END OF HEADER -->
                @RenderBody()





                <div class="footer-social-wrapper">
                    <div class="container footer-social">
                        <div class="row">
                            <div class="col text-center">
                                <a href="#" target="_blank" class="btn x-btn-secondary btn-circle btn-social btn-brand-facebook-f">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" target="_blank" class="btn x-btn-secondary btn-circle btn-social btn-brand-twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank" class="btn x-btn-secondary btn-circle btn-social btn-brand-pinterest-p">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                                <a href="#" target="_blank" class="btn x-btn-secondary btn-circle btn-social btn-brand-instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-main-wrapper">
                    <div class="container footer-main">
                        <div class="row sm-gutters">

                            <div class="col-md-3">
                                <nav class="footer-links nav-collapsible">
                                    <h4 class="footer-title nav-toggler collapsed" data-toggle="collapse" data-target="#footer-info" aria-controls="footer-info" aria-expanded="false">
                                        Informations
                                    </h4>
                                    <div class="collapse nav-collapse" id="footer-info">


                                        <div class="cms-menu cms-menu-linklist" data-menu-name="footerinformation">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="/frontend/en/manufacturer/all" class="menu-link">

                                                        <span>All brands</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/newproducts" class="menu-link">

                                                        <span>New arrivals</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/recentlyviewedproducts" class="menu-link">

                                                        <span>Last viewed</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/compareproducts" class="menu-link">

                                                        <span>Compare product list</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>

                            <div class="col-md-3">
                                <nav class="footer-links nav-collapsible">
                                    <h4 class="footer-title nav-toggler collapsed" data-toggle="collapse" data-target="#footer-service" aria-controls="footer-service" aria-expanded="false">
                                        <span class="d-none d-md-block">Service</span>
                                        <span class="d-md-none">Service</span>
                                    </h4>
                                    <div class="collapse nav-collapse" id="footer-service">


                                        <div class="cms-menu cms-menu-linklist" data-menu-name="footerservice">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="/frontend/en/contactus" class="menu-link">

                                                        <span>Contact us</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/blog" class="menu-link">

                                                        <span>Blog</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/boards" class="menu-link">

                                                        <span>Community</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/shippinginfo" class="menu-link">

                                                        <span>Shipping and Returns</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/paymentinfo" class="menu-link">

                                                        <span>Payment methods</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/cookiemanager" class="menu-link cookie-manager">

                                                        <span>Cookie Manager</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>

                            <div class="col-md-3">
                                <nav class="footer-links company nav-collapsible">
                                    <h4 class="footer-title nav-toggler collapsed" data-toggle="collapse" data-target="#footer-company" aria-controls="footer-company" aria-expanded="false">
                                        <span class="d-none d-md-block">Company</span>
                                        <span class="d-md-none">Company</span>
                                    </h4>
                                    <div class="collapse nav-collapse" id="footer-company">


                                        <div class="cms-menu cms-menu-linklist" data-menu-name="footercompany">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="/frontend/en/aboutus" class="menu-link">

                                                        <span>About us</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/imprint" class="menu-link">

                                                        <span>Imprint</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/disclaimer" class="menu-link">

                                                        <span>Right of withdrawal</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/privacyinfo" class="menu-link">

                                                        <span>Privacy statement</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/frontend/en/conditionsofuse" class="menu-link">

                                                        <span>General Terms and Conditions</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>

                            <div class="col-md-3">


                                <div class="footer-newsletter nav-collapsible" data-subscription-url="/frontend/en/newsletter/subscribe" data-subscription-failure="The subscription or unsubscription has failed.">
                                    <h4 class="footer-title nav-toggler collapsed" data-toggle="collapse" data-target="#footer-newsletter" aria-controls="footer-newsletter" aria-expanded="false">Subscribe to newsletters</h4>
                                    <div class="collapse nav-collapse" id="footer-newsletter">
                                        <div id="newsletter-subscribe-block">
                                            <div class="input-group has-icon mb-2">
                                                <input class="form-control" id="newsletter-email" name="NewsletterEmail" placeholder="Email" type="text" value="" />
                                                <span class="input-group-icon text-muted">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <div class="input-group-append">
                                                    <button id="newsletter-subscribe-button" class="btn btn-primary btn-icon" title="Submit">
                                                        <i class="fa fa-angle-right"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="d-none d-lg-block">
                                                <div class="form-inline">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" id="newsletter-subscribe" value="newsletter-subscribe" name="optionsRadios" checked="checked">
                                                        <label class="form-check-label" for="newsletter-subscribe">
                                                            <span>Subscribe</span>
                                                        </label>
                                                    </div>

                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" id="newsletter-unsubscribe" value="newsletter-unsubscribe" name="optionsRadios">
                                                        <label class="form-check-label" for="newsletter-unsubscribe">
                                                            <span>Unsubscribe</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>






                                            <div class="form-group row gdpr-consent small">
                                                <div class="col form-control-plaintext">
                                                    <div class="form-check">
                                                        <input class="form-check-input gdpr-consent-check" id="gdpr-consent-429892865" name="GdprConsent" type="checkbox" value="true" /><input name="GdprConsent" type="hidden" value="false" />
                                                        <label class="form-check-label" for="gdpr-consent-429892865">
                                                            I agree to the <a href="/frontend/en/privacyinfo">Privacy policy</a>.
                                                        </label>
                                                    </div>
                                                    <span class="field-validation-valid" data-valmsg-for="GdprConsent" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>


                                            <span class="field-validation-valid" data-valmsg-for="NewsletterEmail" data-valmsg-replace="true"></span>
                                        </div>
                                        <div id="newsletter-result-block" class="alert alert-success d-none"></div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>



                <div class="footer-bottom-wrapper">
                    <div class="container footer-bottom">
                        <div class="row sm-gutters">

                            <div class="col pb-1 pb-sm-0">
                                * All prices incl. VAT, plus <a href="/frontend/en/shippinginfo">shipping</a>
                            </div>

                            <div class="col-12 col-sm-auto pb-1 pb-sm-0 text-sm-center">
                                <a href='https://www.smartstore.com/' class='sm-hint' target='_blank'><strong>Onlineshop Software</strong></a> by SmartStore AG &copy; 2022
                            </div>

                            <div class="col text-sm-right">
                                Copyright &copy; 2022 Smartstore 4.1.1 Frontend Demo Shop. All rights reserved.
                            </div>
                        </div>
                    </div>
                </div>
                </footer>


            </div>

            <a href="#" id="scroll-top" class="scrollto d-flex align-items-center justify-content-center shadow-sm">
                <i class="fa fa-lg fa-angle-up"></i>
            </a>
        </div>











        <aside id="offcanvas-menu" class="offcanvas offcanvas-overlay offcanvas-left offcanvas-shadow" data-blocker="true" data-overlay="true">
            <div class="offcanvas-content">
                <div id="offcanvas-menu-container" data-url="/frontend/en/menu/offcanvas">
                    <!-- AJAX -->
                </div>
            </div>
        </aside>

        <aside id="offcanvas-cart" class="offcanvas offcanvas-lg offcanvas-overlay offcanvas-right offcanvas-shadow" data-lg="true" data-blocker="true" data-overlay="true">
            <div class="offcanvas-content">



                <div class="offcanvas-cart-header offcanvas-tabs">
                    <ul class="nav nav-tabs nav-tabs-line row no-gutters" role="tablist">
                        <li class="nav-item col">
                            <a id="cart-tab" class="nav-link" data-toggle="tab" href="#occ-cart" role="tab" data-url="/frontend/en/shoppingcart/offcanvasshoppingcart">
                                <span class="title">Shopping Cart</span>
                                <span class="badge badge-pill label-cart-amount badge-warning" data-bind-to="CartItemsCount" style="display:none">0</span>
                            </a>
                        </li>

                        <li class="nav-item col">
                            <a id="wishlist-tab" class="nav-link" data-toggle="tab" href="#occ-wishlist" role="tab" data-url="/frontend/en/shoppingcart/offcanvaswishlist">
                                <span class="title">Wishlist</span>
                                <span class="badge badge-pill label-cart-amount badge-warning" data-bind-to="WishlistItemsCount" style="display:none">0</span>
                            </a>
                        </li>

                        <li class="nav-item col">
                            <a id="compare-tab" class="nav-link" data-toggle="tab" href="#occ-compare" role="tab" data-url="/frontend/en/catalog/offcanvascompare">
                                <span class="title">Compare</span>
                                <span class="badge badge-pill label-cart-amount badge-warning" data-bind-to="CompareItemsCount" style="display:none">0</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="offcanvas-cart-content">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="occ-cart" role="tabpanel"></div>

                        <div class="tab-pane fade" id="occ-wishlist" role="tabpanel"></div>

                        <div class="tab-pane fade" id="occ-compare" role="tabpanel"></div>
                    </div>
                </div>

            </div>
        </aside>
        @RenderSection("scripts", required: false)
</body>
</html>
